---
import * as info from "../data/info.json";
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import ExperienceList from "../components/ExperienceList.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero name={info.name} about={info.about} />
		<ExperienceList/>
	</main>
	<nav>

	</nav>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 60rem;
		max-width: calc(100% - 2rem);
	}

</style>
