---
import * as info from "../data/info.json";
import Experience from "./Experience.astro";
---
<section>
    <h2>Experience</h2>
    <ul>
        {info.experiences.map((experience) => <li><Experience {...experience}/></li>)}
    </ul>
</section>

<style>
    ul {
        list-style-type: none;
        padding-left: 0;
        display: grid;
        gap: 1rem;
    }
</style>