--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--clr-primary: #EB2563;
		--clr-primary-light: #EE497D;
		--clr-primary-dark: #D2134F;

		--clr-secondary: #111827;
		--clr-secondary-light: #172135;
		--clr-secondary-dark: #090D15;

		--clr-white: #fff5f5;
		--clr-white-light: #FFFFFF;
		--clr-white-dark: #E3E8ED;

		--clr-black: #060504;
		--clr-black-light: #120F0C;
		--clr-black-dark: #000000;

		--ff-base: 'Source Code Pro', monospace;

		--fw-regurlar: 400;
		--fw-bold: 700;

		--fs-100: 1rem;
		--fs-200: 1.25rem;
		--fs-300: 1.5rem;
		--fs-400: 1.875rem;
		--fs-500: 2.25rem;
		--fs-600: 3rem;
		--fs-700: 3.75rem;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	img,
	svg {
		max-width: 100%;
		display: block;
	}

	html {
		color-scheme: normal;

		/* Extra small devices (phones, 600px and down) */
		@media only screen and (max-width: 600px) {
			font-size: 12px;
		}
		/* Small devices (portrait tablets and large phones, 600px and up) */
		@media only screen and (min-width: 600px) {
			font-size: 12px;
		}
		/* Medium devices (landscape tablets, 768px and up) */
		@media only screen and (min-width: 768px) {
			font-size: 16px;
		}
		/* Large devices (laptops/desktops, 992px and up) */
		@media only screen and (min-width: 992px) {

		}
		/* Extra large devices (large laptops and desktops, 1200px and up) */
		@media only screen and (min-width: 1200px) {

		}
	}

	body {
		color: var(--clr-black);
		font-family: var(--ff-base);
		font-size: var(--fs-300);
		font-weight: var(--fw-regurlar);
		line-height: 1.5;
	}

	h1 {
		font-size: var(--fs-700);
	}

	h2 {
		font-size: var(--fs-500);
	}

	h3 {
		font-size: var(--fs-300);
	}
</style>
